*{
    transition: all 0.5s ease;
    font-family: comfortaa;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}
#customButton {
    background-color: rgb(0, 157, 255);
    padding: 8px 11px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#customButton:hover {
    background-color: #0ec2f9;
}

#chatContainer {
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;    
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    transition: all 0.2s ease;
    z-index: 9999;
}

.button{
    position: relative;
    margin: 15px;
    background-color: rgb(0, 115, 8);
    padding: 8px 11px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #00d600;
}

#generateButton {
    color: #fff;
    background: linear-gradient(90deg,rgba(0, 136, 255, 1) 0%, rgba(0, 64, 255, 1) 0%, rgba(255, 0, 98, 1) 100%);
    padding: 8px 11px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-size: 300% 100%; /* makes it bigger so there's room to animate */

}

#generateButton:hover {
    background-color: #0ec2f9;
    animation: moveGradient 5s ease infinite;
    box-shadow: 0 0 10px rgb(255, 255, 0), 0 0 20px rgb(255, 204, 0), 0 0 30px rgb(255, 230, 0);
}


.snake-container {
    position: relative;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.snake-container::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff9900,
        #33cc33,
        #3399ff,
        #cc33cc,
        #ff0000
    );
    background-size: 400%;
    z-index: -1;
    animation: snake 6s linear infinite;
}

@keyframes snake {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}

.snake-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 8px;
    z-index: -1;
}


  

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  